<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAt5uJJA53XKdt8v8FpE2pDG4pttEOjiBc</string>
	<key>GCM_SENDER_ID</key>
	<string>227046665622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.iweorin</string>
	<key>PROJECT_ID</key>
	<string>emcapp-1wa35k</string>
	<key>STORAGE_BUCKET</key>
	<string>emcapp-1wa35k.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227046665622:ios:2740e39be6a14e644001b7</string>
</dict>
</plist>